<div class="card" @fadeSlideInOut>
    <div class="card-body">
      <!-- <h5 class="card-title">LOGIN FORM</h5> -->
      <form action="" #form="ngForm" (ngSubmit)="loginUser()">
        <small *ngIf="errormsg">{{errormsg}}</small>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email</label>
          <input type="email" #usernameField = 'ngModel' class="form-control"  [(ngModel)]="userCredentials.email" required name="email"  placeholder="name@example.com">
          <small [hidden] = "usernameField.valid || usernameField.untouched">email is required</small>
        </div>

        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Password</label>
          <input type="password" #password = 'ngModel' class="form-control" [(ngModel)]="userCredentials.password" required name="password" placeholder="######">
          <small [hidden] = "password.valid || password.untouched">password is required</small>
        </div>

        <div class="btn-container">
        
          <button type="submit" [disabled] = "form.invalid" class="btn btn-primary mb-3">
            <span *ngIf ="show" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
