.card{
    width:22rem;
    min-height:27rem;
    background: rgb(6, 17, 60);
    margin-left: 8em;
    color: rgb(255, 255, 255) !important;

}



.card-body > h5{
    text-align: center;
}


form {
    margin-top: 20px;
}

.btn-container{
    margin-top: 2em;
    /* margin-bottom: 5em; */
    text-align: center;
}

span{
    color: red;
}

button{
    border-radius:20px;
    padding: 10px 30px 10px 30px;
}

@media only screen and (max-width: 800px) {
    .card{
        width:17rem;
        /* margin-top: 3em; */
        margin-left: 0;
        margin-bottom: 3em;
    }
    
}