main{
    position: relative;
    background: rgb(6, 17, 47);
    color: rgb(255, 255, 255);
    min-height: 45.46rem;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    text-align: justify;

}

.det{
    text-align: right;
    display: flex;
    align-items: center;
}

.holder{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.secondholder{
    margin-top: 5rem;
}

.top-image{
    width: 300px;
    height: 300px;
    border-radius:50%;

}



.display{
    background: rgb(6, 17, 60);
    width: 300px;
    min-height: 200px;
    margin: auto;
    text-align: center;
}

.very{
    padding-top: 30px
}

.settings{
    padding-top: 60px
}



@media only screen and (max-width: 800px) {
    .left{
        margin-left: -15px !important;
    }

    .det{
        margin-top: 20px
    }

    .display{
        margin-left: -15px !important;
        margin-bottom: 20px;
    }
}